[submodule "b5-decomp"]
	path = b5-decomp
	url = git@github.com:BurnoutDecomp/b5-decomp.git
	branch = dev
	update = merge
[submodule "tools/volatility"]
	path = tools/volatility
	url = https://github.com/BPDecomp/volatility
[submodule "tools/yap"]
	path = tools/yap
	url = https://github.com/BPDecomp/YAP
