# IDA Pro
.ida-exports/*

# Build files
build/*

# Too big files
**/DecFIGS_Burnout_Internal_PS3.ELF.lineinfo.json
**/decfigs_inlining.json
IDA Files/Burnout_External_PS3.ELF.i64
IDA Files/BurnoutPR.exe.i64


# Too many files
references/Feb-2007/BrnEntityModuleUnity/*

# VS Code
.vscode/*