[submodule "b5-decomp"]
	path = b5-decomp
	url = git@github.com:Adriwin06/b5-decomp.git
[submodule "tools/volatility"]
	path = tools/volatility
	url = https://github.com/BPDecomp/volatility
[submodule "tools/yap"]
	path = tools/yap
	url = https://github.com/BPDecomp/YAP
